<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Recommendation Engine for Tags</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<!-- List Of Related Tags button and tags-->
<div class="text-center" style="margin-top:50px" class="container">

<button align='center' class="btn btn-success" data-toggle="collapse" data-target="#relatedTags">List Of Related Tags</button>

<div class="text-center" id="relatedTags" style="margin-top:50px" class="collapse">
{{list_of_tags}}
</div>
</body>
</html>